<!DOCTYPE html>
<html>
	<head>
		<title>ChurchApp OAuth Ruby Example</title>
		<meta content="index,follow" name="robots" />
		<meta charset="utf-8" />
		<link href="/style.css" rel="stylesheet" />
	</head>
	<body>
		<%= yield %>
	</body>
</html>
